In [1]:
# Part 1: Load LOS Data and Preprocess

import pandas as pd
import numpy as np
import sqlalchemy
# from sklearn.preprocessing import StandardScaler, OneHotEncoder
# from sklearn.impute import SimpleImputer
# from sklearn.compose import ColumnTransformer
# from sklearn.pipeline import Pipeline
# import joblib

In [2]:
# Database connection details
db_username = 'ml_db'
db_password = 'pass%401234'
db_host = '10.192.5.43'
db_port = '5432'
db_name = 'postgres'

In [3]:
# Create a connection string and engine
conn_string = f"postgresql://{db_username}:{db_password}@{db_host}:{db_port}/{db_name}"
engine = sqlalchemy.create_engine(conn_string)

In [4]:
# try:
#     print("--- Loading LOS Data from PostgreSQL ---")
#     query = """
#     SELECT *
#     FROM "Ashirvad"
#     """
#     df_los = pd.read_sql_query(query, con=engine)
#     print(f"LOS Data loaded. Total shape: {df_los.shape}")
# except Exception as e:
#     print(f"Database connection or query failed: {e}")
#     df_los = pd.DataFrame()

In [5]:
# df_los["LOAN_DATE"].max()

In [4]:
try:
    print("--- Loading LOS Data from PostgreSQL ---")
    query = """
    SELECT *
    FROM "Ashirvad"
    WHERE "LOAN_DATE" BETWEEN '2023-01-01' AND '2023-12-31';
    """
    df_los = pd.read_sql_query(query, con=engine)
    print(f"LOS Data loaded. Total shape: {df_los.shape}")
except Exception as e:
    print(f"Database connection or query failed: {e}")
    df_los = pd.DataFrame()

--- Loading LOS Data from PostgreSQL ---
LOS Data loaded. Total shape: (2002124, 52)

In [7]:
df_los

,CUSTOMER_ID,CUSTOMER_NAME,LOAN_ID,DATE_OF_BIRTH,BRANCH_ID,BRANCH_NAME,TEMP_CUST_ID,PHONE1,PHONE2,HOUSE_NAME,...,APPLICATION_ID,LOAN_PURPOSE,CUSTOMER_GRADING_SCORE,TENURE_in_months,emi_paid,loan_paid_percentage,NPA_STATUS_UPDATED,NPA_STATUS_UPDATED_1,NPA_STATUS_UPDATED_2,YEAR
0,31854010214,ANITA,1854UNSL009563,1996-01-01,1854,MURLIGANJ,7104317,8.404862e+09,6344123211.0,0,...,12360945,Agri - Agriculture,NaN,24,19.0,NaN,BAD,BAD,BAD,2023
1,32040008080,BHARATI MAHANTA,2040UNSL002256,1972-01-01,2040,KARANJIA,7098757,7.894124e+09,7006348888.0,0,...,12195930,Agri - Agriculture,NaN,24,20.0,NaN,BAD,BAD,BAD,2023
2,31715005031,RESHMA KRUSHNAT BHIVASEKAR,1715UNSL001385,1990-01-01,1715,MURGUD,2492511,9.975574e+09,None,None,...,1796485,Dairy Farm,NaN,24,17.0,70.83,UNKNOWN,GOOD,GOOD,2023
3,32651005241,MAYA DEVI,2651UNSL003253,1980-01-01,2651,REWARI,3742377,8.307121e+09,7082823905,0,...,18669801,Agri - Agriculture,79.0,24,15.0,62.50,UNKNOWN,GOOD,UNKNOWN,2023
4,31165013902,SAVITHA A,1165UNSL009368,1983-01-01,1165,NANJANAGUDU,3742565,8.970395e+09,8152890783,#2023,...,14179944,Agri - Agriculture,32.0,36,15.0,41.67,UNKNOWN,UNKNOWN,UNKNOWN,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2002119,31030008898,KALA,1030UNSL004771,1985-01-01,1030,MANAMADURAI,841545,9.943284e+09,9943284110.0,0,...,10575055,Agri - Agriculture,NaN,24,20.0,83.33,GOOD,GOOD,GOOD,2023
2002120,32709005155,PRAJAPATI RANJANBEN,2709UNSL003338,1981-01-01,2709,TIMBA,3742169,9.574721e+09,8353393622,0,...,13961014,Agri - Dairy,35.0,24,15.0,62.50,UNKNOWN,GOOD,UNKNOWN,2023
2002121,31293011954,POONAMDEVI,1293UNSL002341,1979-01-01,1293,HOSHANGABAD,3742368,9.179627e+09,9892451145,0,...,13974309,Agri - Agriculture,52.0,24,16.0,66.67,UNKNOWN,GOOD,UNKNOWN,2023
2002122,31229012303,SEEMA BANU,1229UNSL005582,1993-01-01,1229,DAVANAGERE,3742369,8.073425e+09,8861185568,#,...,12187412,Busket Making,NaN,24,18.0,75.00,UNKNOWN,GOOD,GOOD,2023
2002123,31390007993,KRISHNA DAS,1390UNSL004000,1997-01-01,1390,SAINTHIA,3742375,8.001264e+09,9775766499,0,...,16967283,Agri - Agriculture,69.0,24,16.0,66.67,UNKNOWN,GOOD,UNKNOWN,2023

In [8]:
df_los[df_los.duplicated()]

Empty DataFrame
Columns: [CUSTOMER_ID, CUSTOMER_NAME, LOAN_ID, DATE_OF_BIRTH, BRANCH_ID, BRANCH_NAME, TEMP_CUST_ID, PHONE1, PHONE2, HOUSE_NAME, LOCALITY, STREET, ALT_HOUSE_NAME, ALT_LOCALITY, ALT_STREET, CENTER_ID, CENTER_NAME, PIN_CODE, ALT_PIN_CODE, TOTAL_INCOME, TOTAL_EXPENSE, CUSTOMER_FLAG, MARITAL_STATUS, MARITAL_STATUS_NAME, LOAN_DATE, LOAN_AMOUNT, TENURE, INTEREST_RATE, LOAN_STATUS, LOAN_STATUS_DESC, CLS_DT, DISBURSED_AMOUNT, CYCLE, STATE_NAME, CIBIL_ID, CIBIL_SCORE, NPA_FLAG, NPA_FROM_DATE, NPA_TO_DATE, NPA_STATUS, OCCUPATION_ID, OCCUPATION_NAME, APPLICATION_ID, LOAN_PURPOSE, CUSTOMER_GRADING_SCORE, TENURE_in_months, emi_paid, loan_paid_percentage, NPA_STATUS_UPDATED, NPA_STATUS_UPDATED_1, NPA_STATUS_UPDATED_2, YEAR]
Index: []

[0 rows x 52 columns]

In [9]:
df_los.columns

Index(['CUSTOMER_ID', 'CUSTOMER_NAME', 'LOAN_ID', 'DATE_OF_BIRTH', 'BRANCH_ID',
       'BRANCH_NAME', 'TEMP_CUST_ID', 'PHONE1', 'PHONE2', 'HOUSE_NAME',
       'LOCALITY', 'STREET', 'ALT_HOUSE_NAME', 'ALT_LOCALITY', 'ALT_STREET',
       'CENTER_ID', 'CENTER_NAME', 'PIN_CODE', 'ALT_PIN_CODE', 'TOTAL_INCOME',
       'TOTAL_EXPENSE', 'CUSTOMER_FLAG', 'MARITAL_STATUS',
       'MARITAL_STATUS_NAME', 'LOAN_DATE', 'LOAN_AMOUNT', 'TENURE',
       'INTEREST_RATE', 'LOAN_STATUS', 'LOAN_STATUS_DESC', 'CLS_DT',
       'DISBURSED_AMOUNT', 'CYCLE', 'STATE_NAME', 'CIBIL_ID', 'CIBIL_SCORE',
       'NPA_FLAG', 'NPA_FROM_DATE', 'NPA_TO_DATE', 'NPA_STATUS',
       'OCCUPATION_ID', 'OCCUPATION_NAME', 'APPLICATION_ID', 'LOAN_PURPOSE',
       'CUSTOMER_GRADING_SCORE', 'TENURE_in_months', 'emi_paid',
       'loan_paid_percentage', 'NPA_STATUS_UPDATED', 'NPA_STATUS_UPDATED_1',
       'NPA_STATUS_UPDATED_2', 'YEAR'],
      dtype='object')

In [10]:
df_los.dtypes

CUSTOMER_ID                        int64
CUSTOMER_NAME                     object
LOAN_ID                           object
DATE_OF_BIRTH             datetime64[ns]
BRANCH_ID                          int64
BRANCH_NAME                       object
TEMP_CUST_ID                       int64
PHONE1                           float64
PHONE2                            object
HOUSE_NAME                        object
LOCALITY                          object
STREET                            object
ALT_HOUSE_NAME                    object
ALT_LOCALITY                      object
ALT_STREET                        object
CENTER_ID                        float64
CENTER_NAME                       object
PIN_CODE                         float64
ALT_PIN_CODE                     float64
TOTAL_INCOME                     float64
TOTAL_EXPENSE                    float64
CUSTOMER_FLAG                     object
MARITAL_STATUS                     int64
MARITAL_STATUS_NAME               object
LOAN_DATE                 datetime64[ns]
LOAN_AMOUNT                        int64
TENURE                             int64
INTEREST_RATE                    float64
LOAN_STATUS                        int64
LOAN_STATUS_DESC                  object
CLS_DT                    datetime64[ns]
DISBURSED_AMOUNT                   int64
CYCLE                              int64
STATE_NAME                        object
CIBIL_ID                         float64
CIBIL_SCORE                      float64
NPA_FLAG                           int64
NPA_FROM_DATE             datetime64[ns]
NPA_TO_DATE               datetime64[ns]
NPA_STATUS                        object
OCCUPATION_ID                      int64
OCCUPATION_NAME                   object
APPLICATION_ID                     int64
LOAN_PURPOSE                      object
CUSTOMER_GRADING_SCORE           float64
TENURE_in_months                   int64
emi_paid                         float64
loan_paid_percentage             float64
NPA_STATUS_UPDATED                object
NPA_STATUS_UPDATED_1              object
NPA_STATUS_UPDATED_2              object
YEAR                               int64
dtype: object

In [11]:
df_los['PIN_CODE'] = df_los['PIN_CODE'].astype(str)

In [12]:
df_los.dtypes

CUSTOMER_ID                        int64
CUSTOMER_NAME                     object
LOAN_ID                           object
DATE_OF_BIRTH             datetime64[ns]
BRANCH_ID                          int64
BRANCH_NAME                       object
TEMP_CUST_ID                       int64
PHONE1                           float64
PHONE2                            object
HOUSE_NAME                        object
LOCALITY                          object
STREET                            object
ALT_HOUSE_NAME                    object
ALT_LOCALITY                      object
ALT_STREET                        object
CENTER_ID                        float64
CENTER_NAME                       object
PIN_CODE                          object
ALT_PIN_CODE                     float64
TOTAL_INCOME                     float64
TOTAL_EXPENSE                    float64
CUSTOMER_FLAG                     object
MARITAL_STATUS                     int64
MARITAL_STATUS_NAME               object
LOAN_DATE                 datetime64[ns]
LOAN_AMOUNT                        int64
TENURE                             int64
INTEREST_RATE                    float64
LOAN_STATUS                        int64
LOAN_STATUS_DESC                  object
CLS_DT                    datetime64[ns]
DISBURSED_AMOUNT                   int64
CYCLE                              int64
STATE_NAME                        object
CIBIL_ID                         float64
CIBIL_SCORE                      float64
NPA_FLAG                           int64
NPA_FROM_DATE             datetime64[ns]
NPA_TO_DATE               datetime64[ns]
NPA_STATUS                        object
OCCUPATION_ID                      int64
OCCUPATION_NAME                   object
APPLICATION_ID                     int64
LOAN_PURPOSE                      object
CUSTOMER_GRADING_SCORE           float64
TENURE_in_months                   int64
emi_paid                         float64
loan_paid_percentage             float64
NPA_STATUS_UPDATED                object
NPA_STATUS_UPDATED_1              object
NPA_STATUS_UPDATED_2              object
YEAR                               int64
dtype: object

In [13]:
columns_to_drop = ['CUSTOMER_ID','CUSTOMER_NAME','BRANCH_ID','TEMP_CUST_ID','PHONE1', 'PHONE2','HOUSE_NAME','LOCALITY', 'STREET',
                   'ALT_HOUSE_NAME', 'ALT_LOCALITY','ALT_STREET','CENTER_ID','ALT_PIN_CODE','MARITAL_STATUS','LOAN_STATUS',
                   'LOAN_STATUS_DESC', 'CLS_DT','CIBIL_ID','NPA_FLAG', 'NPA_FROM_DATE', 'NPA_TO_DATE', 'NPA_STATUS',
                   'OCCUPATION_ID','APPLICATION_ID', 'TENURE_in_months', 'emi_paid','loan_paid_percentage', 'NPA_STATUS_UPDATED', 
                   'NPA_STATUS_UPDATED_1','NPA_STATUS_UPDATED_2','YEAR']

In [14]:
df_los.drop(columns=columns_to_drop, inplace=True)

In [15]:
df_los.columns

Index(['LOAN_ID', 'DATE_OF_BIRTH', 'BRANCH_NAME', 'CENTER_NAME', 'PIN_CODE',
       'TOTAL_INCOME', 'TOTAL_EXPENSE', 'CUSTOMER_FLAG', 'MARITAL_STATUS_NAME',
       'LOAN_DATE', 'LOAN_AMOUNT', 'TENURE', 'INTEREST_RATE',
       'DISBURSED_AMOUNT', 'CYCLE', 'STATE_NAME', 'CIBIL_SCORE',
       'OCCUPATION_NAME', 'LOAN_PURPOSE', 'CUSTOMER_GRADING_SCORE'],
      dtype='object')

In [16]:
null_percentages = df_los.isnull().sum() / len(df_los) * 100

In [17]:
features_with_nulls = null_percentages[null_percentages > 0].sort_values(ascending=False)

In [18]:
features_with_nulls

CIBIL_SCORE               85.517780
CUSTOMER_GRADING_SCORE    62.515958
TOTAL_EXPENSE             22.424635
TOTAL_INCOME              22.422637
OCCUPATION_NAME            0.993695
DATE_OF_BIRTH              0.000050
dtype: float64

In [19]:
df_los.drop(columns=['CIBIL_SCORE','CUSTOMER_GRADING_SCORE'],inplace=True)

In [20]:
df_los.columns

Index(['LOAN_ID', 'DATE_OF_BIRTH', 'BRANCH_NAME', 'CENTER_NAME', 'PIN_CODE',
       'TOTAL_INCOME', 'TOTAL_EXPENSE', 'CUSTOMER_FLAG', 'MARITAL_STATUS_NAME',
       'LOAN_DATE', 'LOAN_AMOUNT', 'TENURE', 'INTEREST_RATE',
       'DISBURSED_AMOUNT', 'CYCLE', 'STATE_NAME', 'OCCUPATION_NAME',
       'LOAN_PURPOSE'],
      dtype='object')

In [21]:
df_los.shape

(2002124, 18)

In [22]:
from datetime import datetime
df_los['DATE_OF_BIRTH'] = pd.to_datetime(df_los['DATE_OF_BIRTH'], errors='coerce')
df_los['LOAN_DATE'] = pd.to_datetime(df_los['LOAN_DATE'], errors='coerce')

In [23]:
df_los['AGE'] = (df_los['LOAN_DATE'] - df_los['DATE_OF_BIRTH']).dt.days // 365.25

In [24]:
#df_los.drop(columns=['DATE_OF_BIRTH', 'LOAN_DATE'], inplace=True)
df_los.drop(columns=['DATE_OF_BIRTH'], inplace=True)

In [25]:
df_los.columns

Index(['LOAN_ID', 'BRANCH_NAME', 'CENTER_NAME', 'PIN_CODE', 'TOTAL_INCOME',
       'TOTAL_EXPENSE', 'CUSTOMER_FLAG', 'MARITAL_STATUS_NAME', 'LOAN_DATE',
       'LOAN_AMOUNT', 'TENURE', 'INTEREST_RATE', 'DISBURSED_AMOUNT', 'CYCLE',
       'STATE_NAME', 'OCCUPATION_NAME', 'LOAN_PURPOSE', 'AGE'],
      dtype='object')

In [26]:
df_los.shape

(2002124, 18)

In [27]:
df_los["BRANCH_NAME"].nunique()

1520

In [28]:
df_los.columns

Index(['LOAN_ID', 'BRANCH_NAME', 'CENTER_NAME', 'PIN_CODE', 'TOTAL_INCOME',
       'TOTAL_EXPENSE', 'CUSTOMER_FLAG', 'MARITAL_STATUS_NAME', 'LOAN_DATE',
       'LOAN_AMOUNT', 'TENURE', 'INTEREST_RATE', 'DISBURSED_AMOUNT', 'CYCLE',
       'STATE_NAME', 'OCCUPATION_NAME', 'LOAN_PURPOSE', 'AGE'],
      dtype='object')

In [29]:
1251647/(1251647+750477)

0.6251595805254819

In [30]:
df_los = df_los[df_los['CUSTOMER_FLAG'] != 'X'].copy()

In [31]:
df_los.dtypes

LOAN_ID                        object
BRANCH_NAME                    object
CENTER_NAME                    object
PIN_CODE                       object
TOTAL_INCOME                  float64
TOTAL_EXPENSE                 float64
CUSTOMER_FLAG                  object
MARITAL_STATUS_NAME            object
LOAN_DATE              datetime64[ns]
LOAN_AMOUNT                     int64
TENURE                          int64
INTEREST_RATE                 float64
DISBURSED_AMOUNT                int64
CYCLE                           int64
STATE_NAME                     object
OCCUPATION_NAME                object
LOAN_PURPOSE                   object
AGE                           float64
dtype: object

In [32]:
# Assuming df_los is your current DataFrame
if not df_los.empty:
    print("--- Analyzing Categorical Columns ---")
    
    # Identify categorical columns from your remaining list
    categorical_cols = [
        'BRANCH_NAME', 'CENTER_NAME', 'PIN_CODE', 'CUSTOMER_FLAG',
        'MARITAL_STATUS_NAME', 'STATE_NAME', 'OCCUPATION_NAME',
        'LOAN_PURPOSE'
    ]

    for col in categorical_cols:
        if col in df_los.columns:
            print(f"\nAnalyzing column: '{col}'")
            # Calculate number of unique values
            unique_count = df_los[col].nunique()
            print(f"Number of unique values: {unique_count}")

            # Print the top 10 most frequent values and their counts
            if unique_count > 0:
                print("Top 10 most frequent values:")
                print(df_los[col].value_counts().head(10))
            
            # Check for null values
            null_count = df_los[col].isnull().sum()
            if null_count > 0:
                print(f"Number of null values: {null_count}")

--- Analyzing Categorical Columns ---

Analyzing column: 'BRANCH_NAME'
Number of unique values: 1520
Top 10 most frequent values:
BRANCH_NAME
NAGPUR            4565
ARERAJ            3899
MASHRAK           3898
RAXAUL            3749
Lauriya           3692
BANGARPET         3530
NARKATIYA GANJ    3485
AURANGABAD-2      3389
KHATULI           3297
SUGAULI           3295
Name: count, dtype: int64

Analyzing column: 'CENTER_NAME'
Number of unique values: 321274
Top 10 most frequent values:
CENTER_NAME
RAMPUR          625
GOPALPUR        503
RAMNAGAR        379
NARAYANPUR      347
BHAGWANPUR      309
KALYANPUR       309
GANDHI NAGAR    300
RAGHUNATHPUR    297
SHAHPUR         295
LAXMIPUR        275
Name: count, dtype: int64

Analyzing column: 'PIN_CODE'
Number of unique values: 14370
Top 10 most frequent values:
PIN_CODE
845438.0    2944
799004.0    2907
799102.0    2516
831002.0    2508
431001.0    2504
799211.0    2481
736159.0    2400
843128.0    2332
733202.0    2044
799003.0    2043
Name: count, dtype: int64

Analyzing column: 'CUSTOMER_FLAG'
Number of unique values: 4
Top 10 most frequent values:
CUSTOMER_FLAG
A    1903518
D      35079
C      27146
B      19439
Name: count, dtype: int64

Analyzing column: 'MARITAL_STATUS_NAME'
Number of unique values: 6
Top 10 most frequent values:
MARITAL_STATUS_NAME
MARRIED      1958075
WIDOW          22273
UNMARRIED       2864
SINGLE           987
DIVORCED         851
UNTAGGED         132
Name: count, dtype: int64

Analyzing column: 'STATE_NAME'
Number of unique values: 23
Top 10 most frequent values:
STATE_NAME
BIHAR             280013
TAMIL NADU        257144
WEST BENGAL       245498
KARNATAKA         176369
UTTAR PRADESH     153134
ODISHA            113369
MADHYA PRADESH    107590
KERALA            101778
JHARKHAND          97831
RAJASTHAN          96563
Name: count, dtype: int64

Analyzing column: 'OCCUPATION_NAME'
Number of unique values: 84
Top 10 most frequent values:
OCCUPATION_NAME
AGRI INPUT                            641401
AGRICULTURE AND RELATED INPUTS        479024
ANIMAL HUSBANDRY                      228917
AGRICULTURE                           120171
OTHERS                                 90354
CONSTRUCTION (SKILLED) LABOUR          42965
FISHING                                40538
CROP PRODUCTION                        33384
PERSONAL SERVICES                      32523
CONSTRUCTION (NON-SKILLED) LABOUR      29724
Name: count, dtype: int64
Number of null values: 19874

Analyzing column: 'LOAN_PURPOSE'
Number of unique values: 168
Top 10 most frequent values:
LOAN_PURPOSE
Agri - Agriculture         1416130
Agri - Animal Husbandry     116431
Agri - Dairy                113437
Petty Shop                   70272
Cloth Business               51622
Vegetable Vending            21526
Busket Making                17858
Tailoring                    14612
Product                      11753
Beauty Parlour               11449
Name: count, dtype: int64

In [33]:
# Assuming df_los is your current DataFrame with all columns
if not df_los.empty:
    print("--- Analyzing Missing Values ---")
    
    # Calculate the percentage of null values for each column
    null_percentages = df_los.isnull().sum() / len(df_los) * 100
    
    # Filter to show only columns with missing data and sort them
    missing_data_summary = null_percentages[null_percentages > 0].sort_values(ascending=False)
    
    if missing_data_summary.empty:
        print("No missing values found in the DataFrame.")
    else:
        print("Percentage of missing values per column:")
        print(missing_data_summary)

--- Analyzing Missing Values ---
Percentage of missing values per column:
TOTAL_EXPENSE      22.381474
TOTAL_INCOME       22.379459
OCCUPATION_NAME     1.001117
AGE                 0.000050
dtype: float64

In [34]:
df_los["OCCUPATION_NAME"].value_counts()

OCCUPATION_NAME
AGRI INPUT                        641401
AGRICULTURE AND RELATED INPUTS    479024
ANIMAL HUSBANDRY                  228917
AGRICULTURE                       120171
OTHERS                             90354
                                   ...
RECREATIONAL SERVICES                 44
AGRO BASED INDUSTRY                   29
LIFESTYLE                             26
ELECTRONICS AND COMPUTERS             24
PUBLIC ADMINSTRATION                  14
Name: count, Length: 84, dtype: int64

In [35]:
df_los["OCCUPATION_NAME"].unique()

array(['AGRI INPUT', 'AGRICULTURE AND RELATED INPUTS', None,
       'ANIMAL HUSBANDRY', 'AGRICULTURE', 'RETAIL', 'DISTRIBUTION',
       'PERSONAL SERVICES', 'PAPER, PAPER PRODUCTS AND PRINTING',
       'CROP PRODUCTION', 'DAILY WAGE LABOUR', 'AUTOMOBILE',
       'SELF EMPLOYMENT', 'OTHER SALARIED JOBS', 'FISHING',
       'CONSTRUCTION (NON-SKILLED) LABOUR ', 'FISHERY', 'OTHERS',
       'MANUFACTURING', 'SMALL BUSINESS', 'BEAUTY & COSMETICS',
       'TOY MANUFACTURING', 'METAL INDUSTRY', 'FORESTRY',
       'WOOD AND WOOD PRODUCTS', 'AGRI LABOUR', 'DEPENDENT ON SPOUSE',
       'HEALTH', 'CONSTRUCTION (SKILLED) LABOUR',
       'POST-HARVEST ACTIVITIES', 'PRIVATE EMPLOYEE', 'WHOLESALE',
       'TRANSPORTATION, TRAVEL& TOURISM',
       'ELECTRONIC/ELECTRICAL PRODUCTS', 'TRADING',
       'RUBBER AND PLASTICS PRODUCTS', 'PAPER AND PLASTIC',
       'FOOD INDUSTRY', 'TRANSPORTATION', 'FOOD AND BEVERAGES',
       'CONSTRUCTION AND REAL ESTATE', 'POTTERY/CLAY',
       'ELECTRONICS AND ELECTRIC', 'ELECTRONIC AND ELECTRICAL PRODUCTS',
       'HOME MAKER', 'FOOD PRODUCTION AND PROCESSING', 'HOUSE HELP',
       'FOOD MANUFACTERING AND PROCESSING', 'NO JOB',
       'ELECTRONICS AND COMPUTERS', 'LEATHER AND LEATHER PRODUCTS',
       'MUSICAL INSTRUMENTS', 'GEMS AND JEWELLERY', 'AGGREGATOR',
       'EDUCATION', 'REPAIR AND MAINTENANCE',
       'BANKING AND FINANCIAL SERVICES', 'AGRO PROCESSING',
       'TRAVEL AND HOSPITALITY', 'TEXTILE AND APPARELS',
       'TOBACCO PRODUCTS', 'RETAIL SECTOR & SHOPS', 'ELECTRONICS',
       'WASTE MANAGEMENT', 'VEHICLES', 'SOCIAL WORK', 'AGRI SERVICES',
       'WOOD, PULP AND PAPER',
       'PETROLEUM, COAL, CHEMICALS, GLASS, CERAMICS, METALS AND MINERALS',
       'PHARMACEUTICALS, MEDICINAL AND BOTANICAL PRODUCTS',
       'AGRO BASED INDUSTRY', 'SPORTS, GAMES AND TOYS',
       'PUBLIC ADMINSTRATION', 'VEHICLES PARTS AND TRANSPORT EQUIPMENTS',
       'LIFESTYLE', 'FASHION-GARMENTS/APPARELS/OTHERS',
       'SECURITY SERVICES', 'LEATHER AND RELATED PRODUCTS',
       'UTILITIES: GAS/ELECTRICITY/WATER/SEWAGE', 'OFFICE ADMINISTRATION',
       'INFORMATION AND COMMUNICATION', 'WAREHOUSING AND STORAGE',
       'PETROLEUM, CHEMICALS,GLASS,CERAMICS, METALS AND MINERALS',
       'POSTAL OR COURIER SERVICES', 'RECREATIONAL SERVICES'],
      dtype=object)

In [36]:
df_los[df_los["OCCUPATION_NAME"].isna()]

,LOAN_ID,BRANCH_NAME,CENTER_NAME,PIN_CODE,TOTAL_INCOME,TOTAL_EXPENSE,CUSTOMER_FLAG,MARITAL_STATUS_NAME,LOAN_DATE,LOAN_AMOUNT,TENURE,INTEREST_RATE,DISBURSED_AMOUNT,CYCLE,STATE_NAME,OCCUPATION_NAME,LOAN_PURPOSE,AGE
2,1715UNSL001385,MURGUD,PUNGAON,416211.0,0.0,0.0,D,MARRIED,2023-08-31,44000,2,25.0,44000,4,MAHARASHTRA,None,Dairy Farm,33.0
57,1208UNSL004261,YELAHANKA 2,VIJAYA HOUSE MARUTHINAGAR,560064.0,19000.0,2550.0,A,MARRIED,2023-09-16,50000,2,25.0,50000,2,KARNATAKA,None,Trading Of Snacks,53.0
104,1105UNSL008240,THAKKALAI,POOLENKODU,629809.0,15000.0,3300.0,A,MARRIED,2023-07-15,50000,2,25.0,50000,2,TAMIL NADU,None,Agri - Agriculture,27.0
122,1720UNSL004512,TULJAPUR,MATANG NAGAR B,413601.0,0.0,0.0,D,MARRIED,2023-08-31,34000,2,25.0,34000,3,MAHARASHTRA,None,Agri - Animal Husbandry,22.0
179,2647UNSL003046,SARANGARH,HIRRI,496450.0,18000.0,3120.0,A,MARRIED,2023-08-12,50000,2,25.0,50000,2,CHHATTISGARH,None,Agri - Agriculture,46.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2001825,1661UNSL007055,KIRAULI,MAI 5,283101.0,20000.0,2941.0,A,MARRIED,2023-09-16,60000,2,25.0,60000,2,UTTAR PRADESH,None,Agri - Animal Husbandry,39.0
2001851,1404UNSL004135,DHAR,MAFIPURA,454001.0,21500.0,3810.0,D,MARRIED,2023-04-28,26000,2,25.0,26000,4,MADHYA PRADESH,None,Product,30.0
2001964,1661UNSL006921,KIRAULI,JAUTANA,283110.0,17500.0,1800.0,A,MARRIED,2023-08-26,50000,2,25.0,50000,2,UTTAR PRADESH,None,Agri - Animal Husbandry,24.0
2002082,1698UNSL007018,SAHARANPUR,SARAKADI SEIKH 3,247001.0,17500.0,2310.0,A,MARRIED,2023-08-14,50000,2,25.0,50000,2,UTTAR PRADESH,None,Agri - Agriculture,55.0
2002118,2748UNSL004151,MALAPPURAM NEW,MANJERI,676121.0,17500.0,2310.0,A,MARRIED,2023-08-07,50000,2,25.0,50000,2,KERALA,None,Agri - Agriculture,56.0

In [37]:
df_los["OCCUPATION_NAME"].unique()

array(['AGRI INPUT', 'AGRICULTURE AND RELATED INPUTS', None,
       'ANIMAL HUSBANDRY', 'AGRICULTURE', 'RETAIL', 'DISTRIBUTION',
       'PERSONAL SERVICES', 'PAPER, PAPER PRODUCTS AND PRINTING',
       'CROP PRODUCTION', 'DAILY WAGE LABOUR', 'AUTOMOBILE',
       'SELF EMPLOYMENT', 'OTHER SALARIED JOBS', 'FISHING',
       'CONSTRUCTION (NON-SKILLED) LABOUR ', 'FISHERY', 'OTHERS',
       'MANUFACTURING', 'SMALL BUSINESS', 'BEAUTY & COSMETICS',
       'TOY MANUFACTURING', 'METAL INDUSTRY', 'FORESTRY',
       'WOOD AND WOOD PRODUCTS', 'AGRI LABOUR', 'DEPENDENT ON SPOUSE',
       'HEALTH', 'CONSTRUCTION (SKILLED) LABOUR',
       'POST-HARVEST ACTIVITIES', 'PRIVATE EMPLOYEE', 'WHOLESALE',
       'TRANSPORTATION, TRAVEL& TOURISM',
       'ELECTRONIC/ELECTRICAL PRODUCTS', 'TRADING',
       'RUBBER AND PLASTICS PRODUCTS', 'PAPER AND PLASTIC',
       'FOOD INDUSTRY', 'TRANSPORTATION', 'FOOD AND BEVERAGES',
       'CONSTRUCTION AND REAL ESTATE', 'POTTERY/CLAY',
       'ELECTRONICS AND ELECTRIC', 'ELECTRONIC AND ELECTRICAL PRODUCTS',
       'HOME MAKER', 'FOOD PRODUCTION AND PROCESSING', 'HOUSE HELP',
       'FOOD MANUFACTERING AND PROCESSING', 'NO JOB',
       'ELECTRONICS AND COMPUTERS', 'LEATHER AND LEATHER PRODUCTS',
       'MUSICAL INSTRUMENTS', 'GEMS AND JEWELLERY', 'AGGREGATOR',
       'EDUCATION', 'REPAIR AND MAINTENANCE',
       'BANKING AND FINANCIAL SERVICES', 'AGRO PROCESSING',
       'TRAVEL AND HOSPITALITY', 'TEXTILE AND APPARELS',
       'TOBACCO PRODUCTS', 'RETAIL SECTOR & SHOPS', 'ELECTRONICS',
       'WASTE MANAGEMENT', 'VEHICLES', 'SOCIAL WORK', 'AGRI SERVICES',
       'WOOD, PULP AND PAPER',
       'PETROLEUM, COAL, CHEMICALS, GLASS, CERAMICS, METALS AND MINERALS',
       'PHARMACEUTICALS, MEDICINAL AND BOTANICAL PRODUCTS',
       'AGRO BASED INDUSTRY', 'SPORTS, GAMES AND TOYS',
       'PUBLIC ADMINSTRATION', 'VEHICLES PARTS AND TRANSPORT EQUIPMENTS',
       'LIFESTYLE', 'FASHION-GARMENTS/APPARELS/OTHERS',
       'SECURITY SERVICES', 'LEATHER AND RELATED PRODUCTS',
       'UTILITIES: GAS/ELECTRICITY/WATER/SEWAGE', 'OFFICE ADMINISTRATION',
       'INFORMATION AND COMMUNICATION', 'WAREHOUSING AND STORAGE',
       'PETROLEUM, CHEMICALS,GLASS,CERAMICS, METALS AND MINERALS',
       'POSTAL OR COURIER SERVICES', 'RECREATIONAL SERVICES'],
      dtype=object)

In [38]:
if not df_los.empty:
    print("--- Continuing LOS Data Preprocessing ---")
    
    # --- Step 1: Drop high-cardinality and irrelevant columns ---
    # We will handle PIN_CODE, OCCUPATION_NAME, LOAN_PURPOSE later with target encoding
    columns_to_drop = ['BRANCH_NAME', 'CENTER_NAME']
    df_los.drop(columns=columns_to_drop, errors='ignore', inplace=True)
    
    # --- Step 2: Handle missing values with indicator flags ---
    numerical_cols_to_impute = ['TOTAL_EXPENSE', 'TOTAL_INCOME', 'AGE']
    for col in numerical_cols_to_impute:
        if df_los[col].isnull().sum() > 0:
            #df_los[f'{col}_MISSING'] = df_los[col].isnull().astype(int)
            median_val = df_los[col].median()
            # Corrected line to avoid the warning:
            df_los[col] = df_los[col].fillna(median_val)

    categorical_col_to_impute = 'OCCUPATION_NAME'
    if df_los[categorical_col_to_impute].isnull().sum() > 0:
        #df_los[f'{categorical_col_to_impute}_MISSING'] = df_los[categorical_col_to_impute].isnull().astype(int)
        # Corrected line to avoid the warning:
        df_los[categorical_col_to_impute] = df_los[categorical_col_to_impute].fillna('UNKNOWN')
    # --- Corrected code to handle marital status ---
    df_los['MARITAL_STATUS_NAME'] = df_los['MARITAL_STATUS_NAME'].replace(['UNMARRIED', 'SINGLE'], 'UNMARRIED/SINGLE')
        
    #print("\nMissing value imputation complete with indicator flags.")
    print("\nMissing value imputation complete with consolidation.")


    print("New value counts for MARITAL_STATUS_NAME:")
    print(df_los['MARITAL_STATUS_NAME'].value_counts())

    # --- Step 3: Segregate features by processing type ---
    # Separate the key identifier column for later use
    # id_col = 'LOAN_ID'
    # df_los_ids = df_los[[id_col]].copy()
    
    # Define columns for each preprocessing method
    # target_encode_cols = ['PIN_CODE', 'OCCUPATION_NAME', 'LOAN_PURPOSE']
    # ohe_cols = ['CUSTOMER_FLAG', 'MARITAL_STATUS_NAME', 'STATE_NAME']
    
    # The remaining columns are numerical
    # all_cols = list(df_los.columns)
    # numerical_cols = [col for col in all_cols if col not in ohe_cols + target_encode_cols + [id_col]]

    # Create a separate DataFrame for the columns to be passed through untouched
    # df_los_passthrough = df_los[target_encode_cols + [id_col]].copy()

    # --- Step 4: Create and apply a preprocessing pipeline ---
    # numerical_transformer = Pipeline(steps=[
    #     ('scaler', StandardScaler())
    # ])
    
    # categorical_transformer = Pipeline(steps=[
    #     ('onehot', OneHotEncoder(handle_unknown='ignore'))
    # ])
    
    # preprocessor = ColumnTransformer(
    #     transformers=[
    #         ('num', numerical_transformer, numerical_cols),
    #         ('cat', categorical_transformer, ohe_cols)
    #     ],
    #     remainder='drop'  # Explicitly drop columns not in a transformer
    # )
    
    # Fit and transform the numerical and OHE columns only
    # df_los_features_to_process = df_los[numerical_cols + ohe_cols].copy()
    # df_processed_array = preprocessor.fit_transform(df_los_features_to_process)
    
    # Get the names of the new encoded columns
    # new_cat_features = preprocessor.named_transformers_['cat'].named_steps['onehot'].get_feature_names_out(ohe_cols)
    # all_feature_names = numerical_cols + list(new_cat_features)

    # Convert the processed array back to a DataFrame
    #df_los_final = pd.DataFrame(df_processed_array, columns=all_feature_names)

    # Re-attach the passthrough columns
    # df_los_final = pd.concat([df_los_final, df_los_passthrough.reset_index(drop=True)], axis=1)
    print("Final data types before saving:")
    print(df_los.dtypes)
            
    # --- Step 5: Save the preprocessed DataFrame and the preprocessor object ---
    df_los.to_csv('los_cleaned.csv', index=False)

    #df_los_final.to_csv('los_preprocessed.csv', index=False)

    #joblib.dump(preprocessor, 'los_preprocessor.pkl')

    print("\nComprehensive LOS data cleaning complete.")
    print("Final DataFrame saved to 'los_cleaned.csv'.")
    print("All scaling and encoding is deferred to '3_hybrid_data_prep.ipynb'.")
    print("\nNext, we will move on to the LMS data preparation.")

--- Continuing LOS Data Preprocessing ---

Missing value imputation complete with consolidation.
New value counts for MARITAL_STATUS_NAME:
MARITAL_STATUS_NAME
MARRIED             1958075
WIDOW                 22273
UNMARRIED/SINGLE       3851
DIVORCED                851
UNTAGGED                132
Name: count, dtype: int64
Final data types before saving:
LOAN_ID                        object
PIN_CODE                       object
TOTAL_INCOME                  float64
TOTAL_EXPENSE                 float64
CUSTOMER_FLAG                  object
MARITAL_STATUS_NAME            object
LOAN_DATE              datetime64[ns]
LOAN_AMOUNT                     int64
TENURE                          int64
INTEREST_RATE                 float64
DISBURSED_AMOUNT                int64
CYCLE                           int64
STATE_NAME                     object
OCCUPATION_NAME                object
LOAN_PURPOSE                   object
AGE                           float64
dtype: object

Comprehensive LOS data cleaning complete.
Final DataFrame saved to 'los_cleaned.csv'.
All scaling and encoding is deferred to '3_hybrid_data_prep.ipynb'.

Next, we will move on to the LMS data preparation.

In [39]:
#df_los_final.columns
df_los.columns

Index(['LOAN_ID', 'PIN_CODE', 'TOTAL_INCOME', 'TOTAL_EXPENSE', 'CUSTOMER_FLAG',
       'MARITAL_STATUS_NAME', 'LOAN_DATE', 'LOAN_AMOUNT', 'TENURE',
       'INTEREST_RATE', 'DISBURSED_AMOUNT', 'CYCLE', 'STATE_NAME',
       'OCCUPATION_NAME', 'LOAN_PURPOSE', 'AGE'],
      dtype='object')

In [40]:
#df_los_final.shape
df_los.shape

(1985182, 16)

In [41]:
2002124-1985182

16942

In [1]:
# Load the complete preprocessed data from the CSV file
df_los_cleaned = pd.read_csv('los_cleaned.csv')

# Verify the shape to confirm all records are loaded
print(f"Loaded cleaned data with shape: {df_los_cleaned.shape}")

NameError: name 'pd' is not defined

In [43]:
df_los_cleaned.head()

,LOAN_ID,PIN_CODE,TOTAL_INCOME,TOTAL_EXPENSE,CUSTOMER_FLAG,MARITAL_STATUS_NAME,LOAN_DATE,LOAN_AMOUNT,TENURE,INTEREST_RATE,DISBURSED_AMOUNT,CYCLE,STATE_NAME,OCCUPATION_NAME,LOAN_PURPOSE,AGE
0,1854UNSL009563,852114.0,25000.0,1760.0,A,MARRIED,2023-06-20,40000,2,25.0,40000,1,BIHAR,AGRI INPUT,Agri - Agriculture,27.0
1,2040UNSL002256,757036.0,21000.0,300.0,A,MARRIED,2023-06-13,40000,2,25.0,40000,1,ODISHA,AGRICULTURE AND RELATED INPUTS,Agri - Agriculture,51.0
2,1715UNSL001385,416211.0,0.0,0.0,D,MARRIED,2023-08-31,44000,2,25.0,44000,4,MAHARASHTRA,UNKNOWN,Dairy Farm,33.0
3,2651UNSL003253,123401.0,22000.0,2910.0,A,MARRIED,2023-11-07,50000,2,25.0,50000,2,HARYANA,ANIMAL HUSBANDRY,Agri - Agriculture,43.0
4,1165UNSL009368,571301.0,17500.0,2160.0,A,MARRIED,2023-10-25,70000,3,25.0,70000,2,KARNATAKA,AGRI INPUT,Agri - Agriculture,40.0

In [44]:
df_los_cleaned.dtypes

LOAN_ID                 object
PIN_CODE               float64
TOTAL_INCOME           float64
TOTAL_EXPENSE          float64
CUSTOMER_FLAG           object
MARITAL_STATUS_NAME     object
LOAN_DATE               object
LOAN_AMOUNT              int64
TENURE                   int64
INTEREST_RATE          float64
DISBURSED_AMOUNT         int64
CYCLE                    int64
STATE_NAME              object
OCCUPATION_NAME         object
LOAN_PURPOSE            object
AGE                    float64
dtype: object

In [45]:
df_los.dtypes

LOAN_ID                        object
PIN_CODE                       object
TOTAL_INCOME                  float64
TOTAL_EXPENSE                 float64
CUSTOMER_FLAG                  object
MARITAL_STATUS_NAME            object
LOAN_DATE              datetime64[ns]
LOAN_AMOUNT                     int64
TENURE                          int64
INTEREST_RATE                 float64
DISBURSED_AMOUNT                int64
CYCLE                           int64
STATE_NAME                     object
OCCUPATION_NAME                object
LOAN_PURPOSE                   object
AGE                           float64
dtype: object